<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Vik1_Jump_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{100,168}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{1049,133},{100,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{104,154}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{373,149},{104,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{883,265},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{110,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{991,255},{110,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{110,134}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{487,273},{110,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{110,132}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{1103,235},{110,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{110,130}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{1215,259},{110,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Jump_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{1743,267},{110,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{110,126}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{785,137},{110,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{110,124}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{1855,267},{110,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{112,130}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{1347,265},{112,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Jump_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{114,132}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{1637,133},{114,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{116,138}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{1885,149},{116,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Jump_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{118,142}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{763,265},{118,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{120,146}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{1909,1},{120,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{124,148}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{1219,133},{124,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Jump_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{124,150}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{897,129},{124,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Jump_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{126,152}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{631,137},{126,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Jump_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{126,156}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{143,151},{126,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,10}</string>
                <key>spriteSize</key>
                <string>{126,158}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{957,1},{126,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Jump_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{126,162}</string>
                <key>spriteSourceSize</key>
                <string>{136,186}</string>
                <key>textureRect</key>
                <string>{{793,1},{126,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{130,158}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1117,1},{130,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{138,156}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{157,1},{138,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{479,137},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{154,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1753,1},{154,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{156,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{635,1},{156,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{475,1},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{158,136}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{315,1},{158,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{156,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1,151},{156,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{154,148}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{130,158}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1277,1},{130,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{130,156}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1437,1},{130,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,3}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1369,133},{130,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,9}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1753,137},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,12}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1479,265},{130,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,13}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1611,267},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,15}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1503,133},{130,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,12}</string>
                <key>spriteSize</key>
                <string>{130,142}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{631,265},{130,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,3}</string>
                <key>spriteSize</key>
                <string>{130,156}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{1595,1},{130,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Smash_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{160,102}</string>
                <key>spriteSourceSize</key>
                <string>{164,102}</string>
                <key>textureRect</key>
                <string>{{325,305},{160,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Smash_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{162,100}</string>
                <key>spriteSourceSize</key>
                <string>{164,102}</string>
                <key>textureRect</key>
                <string>{{271,141},{162,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Smash_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{160,98}</string>
                <key>spriteSourceSize</key>
                <string>{164,102}</string>
                <key>textureRect</key>
                <string>{{1,309},{160,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Smash_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{160,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,102}</string>
                <key>textureRect</key>
                <string>{{163,309},{160,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>PlayerMotions.png</string>
            <key>size</key>
            <string>{2030,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2a00d602566cbd590b09b69376e6ea0:a88eb2cfb7cc46fbc01ffc199be7a3cd:bf1677049d1b9486c61f81822c93c091$</string>
            <key>textureFileName</key>
            <string>PlayerMotions.png</string>
        </dict>
    </dict>
</plist>
