<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Vik1_Smash_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{80,51}</string>
                <key>spriteSourceSize</key>
                <string>{82,51}</string>
                <key>textureRect</key>
                <string>{{85,301},{80,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Smash_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,51}</string>
                <key>spriteSourceSize</key>
                <string>{82,51}</string>
                <key>textureRect</key>
                <string>{{1,301},{82,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Smash_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,51}</string>
                <key>textureRect</key>
                <string>{{167,281},{80,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Smash_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,51}</string>
                <key>textureRect</key>
                <string>{{249,281},{80,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Jump_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-8}</string>
                <key>spriteSize</key>
                <string>{93,161}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{331,257},{93,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{97,147}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{494,255},{97,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,2}</string>
                <key>spriteSize</key>
                <string>{101,135}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{776,251},{101,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{103,129}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1042,251},{103,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{103,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1439,241},{103,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{103,125}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1568,241},{103,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{103,123}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1463,1},{103,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{103,121}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1588,1},{103,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{103,119}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1711,1},{103,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{105,119}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1852,1},{105,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Jump_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{107,123}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1314,241},{107,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{107,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{913,251},{107,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{109,131}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{643,251},{109,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{111,137}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1324,1},{111,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{113,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1183,1},{113,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{117,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1173,243},{117,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{119,143}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1050,122},{119,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{119,145}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{1036,1},{119,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{119,147}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{887,1},{119,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{123,151}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{599,126},{123,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Jump_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{125,153}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{289,130},{125,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Run_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{123,153}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{444,130},{123,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{144,1},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{145,129}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{1582,106},{145,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{145,127}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{903,122},{145,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{149,127}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{430,1},{149,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{151,127}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{277,1},{151,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,13}</string>
                <key>spriteSize</key>
                <string>{151,129}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{136,150},{151,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,13}</string>
                <key>spriteSize</key>
                <string>{149,133}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{1,150},{149,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{147,141}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Run_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{123,153}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{581,1},{123,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Run_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{123,149}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{736,1},{123,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Run_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{123,125}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{1332,114},{123,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Run_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{1695,237},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Run_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,12}</string>
                <key>spriteSize</key>
                <string>{123,121}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{1729,106},{123,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Run_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,14}</string>
                <key>spriteSize</key>
                <string>{123,121}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{1820,231},{123,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Run_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,16}</string>
                <key>spriteSize</key>
                <string>{123,125}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{1457,114},{123,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Viking1_Run_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,12}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{1195,116},{123,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Viking1_Run_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{123,149}</string>
                <key>spriteSourceSize</key>
                <string>{175,159}</string>
                <key>textureRect</key>
                <string>{{752,126},{123,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>PlayerMotions.png</string>
            <key>size</key>
            <string>{1958,361}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f73a19515e77667eeece92f624e8a2:d08dbafd99fd58cfeaf5d7af718f489f:bf1677049d1b9486c61f81822c93c091$</string>
            <key>textureFileName</key>
            <string>PlayerMotions.png</string>
        </dict>
    </dict>
</plist>
