<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Vik1_Jump_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{50,85}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{67,471},{50,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{52,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{67,1210},{52,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{73,78},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{56,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{69,1521},{56,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{69,1592},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{69,1661},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{69,709},{56,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{69,776},{56,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{56,63}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{70,910},{56,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{56,63}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{70,975},{56,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{70,843},{56,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{69,558},{58,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{69,1366},{58,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{67,398},{60,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{67,323},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{1,1289},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{65,1289},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{1,1210},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{1,406},{64,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{1,487},{64,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Jump_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{1,323},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,568},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,78},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{76,67}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,1132},{76,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{78,67}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,892},{78,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{78,67}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,972},{78,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{80,67}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,241},{80,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{80,69}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,159},{80,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{78,71}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,1052},{78,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{78,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,649},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,730},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{66,67}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,1439},{66,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,1577},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,1711},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,1644},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{66,67}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,1508},{66,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,1366},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Run_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1,811},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vik1_Smash_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{80,51}</string>
                <key>spriteSourceSize</key>
                <string>{82,51}</string>
                <key>textureRect</key>
                <string>{{70,241},{80,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Smash_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,51}</string>
                <key>spriteSourceSize</key>
                <string>{82,51}</string>
                <key>textureRect</key>
                <string>{{69,1437},{82,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Smash_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,51}</string>
                <key>textureRect</key>
                <string>{{72,159},{80,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vik1_Smash_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,51}</string>
                <key>textureRect</key>
                <string>{{69,627},{80,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>PlayerMotions.png</string>
            <key>size</key>
            <string>{128,1782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b4c8e8d927c3df3bfa516d46b5cf4af:a17724f5e933c3e42ec14a8e92996d13:bf1677049d1b9486c61f81822c93c091$</string>
            <key>textureFileName</key>
            <string>PlayerMotions.png</string>
        </dict>
    </dict>
</plist>
