<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Longboat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{1700,280}</string>
                <key>spriteSourceSize</key>
                <string>{1700,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{1700,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Longboat_Sail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,32}</string>
                <key>spriteSize</key>
                <string>{314,236}</string>
                <key>spriteSourceSize</key>
                <string>{1700,300}</string>
                <key>textureRect</key>
                <string>{{1703,1},{314,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>LongboatSprites.png</string>
            <key>size</key>
            <string>{2018,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4ff01380aef8254dc7ec65e058aad41:3d2e7a51ebf2b7da6e4ff0b09ae87fbf:45d41a05fd878c4b2c46b83dfbe53324$</string>
            <key>textureFileName</key>
            <string>LongboatSprites.png</string>
        </dict>
    </dict>
</plist>
