<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Longboat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,350}</string>
                <key>spriteSourceSize</key>
                <string>{1920,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Longboat_Sail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,400}</string>
                <key>spriteSourceSize</key>
                <string>{528,400}</string>
                <key>textureRect</key>
                <string>{{1,353},{528,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>LongboatSprites.png</string>
            <key>size</key>
            <string>{1922,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30927c4888675bf84029d4cd4b65ad34:b32be004b1950301c449b0856f78d77f:45d41a05fd878c4b2c46b83dfbe53324$</string>
            <key>textureFileName</key>
            <string>LongboatSprites.png</string>
        </dict>
    </dict>
</plist>
