<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Grunt_Walk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{82,95}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{98,1},{82,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{86,93}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{1,169},{86,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-5}</string>
                <key>spriteSize</key>
                <string>{82,95}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{195,1},{82,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{86,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{195,171},{86,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{86,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{294,173},{86,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{88,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{199,261},{88,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{86,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{393,173},{86,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{90,99}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{1,347},{90,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{92,99}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{205,351},{92,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{92,101}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{306,351},{92,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{90,101}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{102,351},{90,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{298,261},{88,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{86,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{1,257},{86,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{391,1},{84,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-5}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{1,83},{84,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{98,85},{84,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{195,85},{84,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{86,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{100,259},{86,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{88,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{399,261},{88,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{294,85},{84,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{391,87},{84,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{96,171},{84,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{292,1},{82,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>EnemyMotions.png</string>
            <key>size</key>
            <string>{497,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26810464ee5cbf9e042fff1addea3669:c4cb25162a5d54195284445b14dfa995:3c5aaf2ad2fca6c908b93c505f3bffc0$</string>
            <key>textureFileName</key>
            <string>EnemyMotions.png</string>
        </dict>
    </dict>
</plist>
