<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SmallEnemyWalk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-2}</string>
                <key>spriteSize</key>
                <string>{126,156}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{577,1},{126,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-3}</string>
                <key>spriteSize</key>
                <string>{130,154}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{979,155},{130,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-4}</string>
                <key>spriteSize</key>
                <string>{136,152}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{839,313},{136,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-3}</string>
                <key>spriteSize</key>
                <string>{130,154}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{847,157},{130,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{136,156}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{439,1},{136,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{138,156}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{295,161},{138,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{140,156}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{281,321},{140,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{138,156}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{423,319},{138,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{144,158}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{149,161},{144,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{146,158}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{1,163},{146,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{146,158}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{145,1},{146,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{144,158}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{293,1},{144,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{142,160}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{138,156}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{435,161},{138,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{132,152}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{979,1},{132,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{703,317},{134,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{711,157},{134,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{136,154}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{143,323},{136,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{138,156}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{563,319},{138,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{140,154}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{1,323},{140,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{136,154}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{705,1},{136,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,2}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{843,1},{134,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,2}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{575,159},{134,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallEnemyWalk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{130,154}</string>
                <key>spriteSourceSize</key>
                <string>{174,160}</string>
                <key>textureRect</key>
                <string>{{979,311},{130,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>EnemyMotions.png</string>
            <key>size</key>
            <string>{1112,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:703fbaf8395227319e9f24bfe5f4cdb4:7546c4600ca6ea3bfe4904fe23edee41:3c5aaf2ad2fca6c908b93c505f3bffc0$</string>
            <key>textureFileName</key>
            <string>EnemyMotions.png</string>
        </dict>
    </dict>
</plist>
