<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Grunt_Walk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-8}</string>
                <key>spriteSize</key>
                <string>{118,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{919,379},{118,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-8}</string>
                <key>spriteSize</key>
                <string>{122,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{795,274},{122,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-9}</string>
                <key>spriteSize</key>
                <string>{130,143}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{537,1},{130,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-8}</string>
                <key>spriteSize</key>
                <string>{124,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{921,129},{124,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{407,1},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{130,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{141,154},{130,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{130,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{273,154},{130,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-6}</string>
                <key>spriteSize</key>
                <string>{130,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{275,1},{130,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{136,149}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{139,307},{136,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-4}</string>
                <key>spriteSize</key>
                <string>{138,151}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-4}</string>
                <key>spriteSize</key>
                <string>{138,151}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{1,154},{138,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{136,151}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{1,307},{136,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-5}</string>
                <key>spriteSize</key>
                <string>{132,151}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{141,1},{132,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-7}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{409,297},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-9}</string>
                <key>spriteSize</key>
                <string>{126,143}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{793,129},{126,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-9}</string>
                <key>spriteSize</key>
                <string>{126,143}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{816,1},{126,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{126,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{665,146},{126,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-7}</string>
                <key>spriteSize</key>
                <string>{126,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{669,1},{126,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grunt_Walk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{130,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{277,303},{130,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{130,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{405,150},{130,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{126,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{667,293},{126,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{126,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{537,146},{126,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-4}</string>
                <key>spriteSize</key>
                <string>{126,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{539,295},{126,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grunt_Walk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,161}</string>
                <key>textureRect</key>
                <string>{{921,255},{122,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>EnemyMotions.png</string>
            <key>size</key>
            <string>{1069,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03d5aed25cf2cc1f8ac3847d0f8f64a9:9141f7ed8c31bd505fb71b23005b654b:3c5aaf2ad2fca6c908b93c505f3bffc0$</string>
            <key>textureFileName</key>
            <string>EnemyMotions.png</string>
        </dict>
    </dict>
</plist>
