<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skybox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>SkyboxSheet.png</string>
            <key>size</key>
            <string>{1082,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39a9385f8afebffe65ab1f5e39707281:c1e07f46888c50691a2c34fee9cc15db:26e5b45ee6f331d8d6a0d8f9c3c859af$</string>
            <key>textureFileName</key>
            <string>SkyboxSheet.png</string>
        </dict>
    </dict>
</plist>
